# vim: tabstop=2 shiftwidth=2
name: "Tests"
on: ["push", "pull_request"]
jobs:
  tests:
    name: "test on Python ${{ matrix.python-version }} with GAP ${{ matrix.gap-version }}"
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: "bash -l {0}"
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.6"
            gap-version: "4.10.2"
          - python-version: "3.7"
            gap-version: "4.10.2"
          - python-version: "3.8"
            gap-version: "4.11.0"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        env:
          # Increase this value to reset cache manually
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: "${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{ matrix.python-version }}-${{ matrix.gap-version }}"
      - uses: "conda-incubator/setup-miniconda@v2"
        with:
          auto-update-conda: true
          python-version: "${{ matrix.python-version }}"
          use-only-tar-bz2: true
      - name: "conda info"
        run: "conda info"
      - name: "conda install"
        run: "conda install -q -c conda-forge gap-defaults=${{ matrix.gap-version }}"
      - name: "install"
        run: "pip install -e .[tests]"
      - name: "test"
        run: "pytest -v --color=yes"
